/* !----------------------TABLET------------------ */

@media screen and (min-width: 768px) {
  .main-page {
    min-width: 768px;
    max-width: 1920px;
  }

  .main-page-container {
    min-width: 740px;
  }


  /** ----------MAIN PAGE--------------- */
  
.title {
    font-size: 52px;
    width: 578px;
    margin-top: 80px;
    margin-bottom: 50px;
  }

  .main-page-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    gap: 40px;
  }

  .main-info {
    width: 250px;
    margin-top: 450px;
    display: block;

  }

  .text-info{
    text-align: start;
  }

  .main-list {
    margin-top: 30px;
    border-radius: 20px;
    width: 250px;
    background: #7fb3e1;
    padding-top: 35px;
    padding-left: 15px;
    padding-bottom: 38px;
    font-weight: 700;
    font-size: 22px;
    color: #dfe4de;
  }

  .cats {
    width: 710px;
    height: 417px;
  }

  .image-container {
    position: absolute;
    z-index: 100;
    top: 0;
  }

  .order-container {
    margin-top: 450px;
  }

  .manufacture {
    min-width: 768px;
    max-width: 1920px;
  }

  .manucacture-container {
    min-width: 768px;
    max-width: 1920px;

  }


  .best-uses {
    padding-bottom: 60px;
    min-width: 768px;
    max-width: 1920px;
  }


  .best-uses-container {
    min-width: 740px;
    margin: 0 auto;
  }

}

/* !----------------------/TABLET------------------ */


/* !----------------------DESKTOP------------------ */

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1140x),
  (min-resolution: 192dpi) and (min-width: 1140px),
  (min-resolution: 2dppx) and (min-width: 1140px) {
  .main-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/background-img2x.webp);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1140px),
  (min-resolution: 192dpi) and (min-width: 1140px),
  (min-resolution: 2dppx) and (min-width: 1140px) {
  .manucacture-container {
    background-image: url(../images/paws@2x.webp);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1140px),
  (min-resolution: 192dpi) and (min-width: 1140px),
  (min-resolution: 2dppx) and (min-width: 1140px) {
  .best-uses {
    background-image: url(../images/grass@2x.webp);
  }
}

@media screen and (min-width: 1140px) {
  .main-page {
    max-width: 1920px;
    height: 844px;
  }

  .main-page-container {
    min-width: 1179px;
  }

  /**------------ HEADER--------------- */

  .header-container {
    justify-content: space-between;
  }

  .logo-container {
  margin-left: 17px;
  }

  .menu-container {
    width: 446px;
    height: 102px;
    padding-left: 77px;
    padding-right: 54px;
  }

  .menu-list {
    gap: 51px;
  }

  /** ----------MAIN PAGE--------------- */

 .main-page-content-container {
    padding-right: 37px;
  }

  .main-page-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
gap: 20px;
  }


  .main-info {
    margin-top: 42px;
    width: 323px;

  }

  .title {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .text-info {
    font-size: 26px;
    width: 439px;
  }

  .main-list {
    margin-top: 60px;
  }

  .main-list {
    width: 323px;
    background: #7fb3e1;
    padding-left: 35px;
  }

  .image-container {
    margin-top: 62px;
    margin-left: 238px;
  }

  .order-container {
    margin-top: 8px;
  }
  /** ----------MANUFACTURE INFO--------------- */

  .manufacture {
    max-width: 1920px;
    height: 761px;
    padding-left: 48px;
    padding-right: 71px;
    padding-top: 52px;
    padding-bottom: 38px;
  
  }

  .manucacture-container {
    max-width: 1783px;
    height: 671px;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .manufacture-title {
    font-size: 52px;
  }

  .manufacture-list {
    width: 1084px;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 63px;
  }

  /** ----------BEST USES------------- */
  .best-uses {
    max-width: 1920px;
    height: 770px;
    padding-left: 368px;
    padding-right: 413px;
    padding-top: 99px;
    padding-bottom: 197px;
  }

  .best-uses-container {
    max-width: 1088px;
  }

  .best-uses-title {
    font-size: 52px;
    margin-bottom: 58px;
    margin-top: 0;
  }

  .best-uses-block {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  .best-uses-info {
    background-image: url(../images/icons/rectangle-2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 760px;
    height: 354px;
    padding-top: 40px;
    padding-right: 98px;
    padding-bottom: 41px;
    padding-left: 40px;
    margin-left: 0;
  }

  .best-uses-info-text {
    width: 100%;
    font-size: 18px;
    line-height: 128%;
    color: #483c08;
  }
}
/* !----------------------/DESKTOP------------------ */
